name: Build Docker Image

on:
  workflow_dispatch: ~
  workflow_run:
    workflows: ["CI/CD Pipeline"]
    types:
      - completed

jobs:
  make-docker-for-backend:
    name: build-image
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.sha }}

      - name: build-image
        id: build-image
        run: docker build -t nyusuka/mdv27-ci-back:latest ./back

      - name: push-image
        id: push-image
        run: |
          echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u nyusuka --password-stdin
          docker push nyusuka/mdv27-ci-back:latest

  inform-user:
    name: inform-user
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}

    steps:
      - name: inform-failure
        id: inform-failure
        run: echo "# The triggering workflow has failed. Cannot proceed the current one then." >> $GITHUB_STEP_SUMMARY